@{
    ViewData["Title"] = "Улюблені криптовалюти";
}
<section id="favoritesList">
    <h2><span class="title-wrapper">@ViewData["Title"]</span></h2>
    <div id="favoritesContainer" class="grid"></div>
</section>

