@{
    ViewData["Title"] = "Популярні криптовалюти";
}

<section id="favoritesList">
    <h2><span class="title-wrapper">@ViewData["Title"]</span></h2>
    <div id="cryptoContainer" class="grid"></div>
</section>