<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Моніторинг криптовалют</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <h1 class="animated-heading">
               Моніторинг криптовалют
            </h1>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/Favorites">Улюблене</a></li>
                <li><a href="/Forecasts">Прогнози</a></li>
                <li><a href="/crypto-transaction">Торгівля криптовалютами</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody() 
    </main>

    <footer>
        <p>&copy; 2025 Моніторинг криптовалют</p>
    </footer>

    <script src="~/js/site.js"></script>
</body>
</html>